@import "tailwindcss";

:root{
  --poppins: "Poppins", sans-serif;
  --inter: "Inter", sans-serif;
}

.font-logo{
  font-family: var(--poppins);
  font-weight: 500 !important;
}

.font-title {
  font-family: var(--poppins);
  font-weight: 600 !important;
}

.font-general {
  font-family: var(--inter);
  font-weight: normal !important;
}

.font-hero {
  font-family: var(--inter);
  font-weight: 700;
}







