---
import Hero from "./Hero.astro";
import SobreMi from "./SobreMi.astro";
import Contacto from "./Contacto.astro";
---

<div class="flex flex-col gap-12 md:gap-y-56">
  <Hero />
  <SobreMi />
  <Contacto />
</div>
